{% extends 'base.html' %}

{% load static %}


{% block content %}
<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area video-bg-live">
        <div class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=gOqlwlQjVis',containment:'.video-bg-live', showControls:false, autoPlay:true, zoom:0, loop:true, mute:true, startAt:4, opacity:1, quality:'default'}"></div>
         <div class="item transparent-nav text-light bg-fixed" style="background-image: url"{% static 'assets/img/2440x1578.png' %}">
            <div class="box-table inc-top-heading text-medium">
                <div class="box-cell shadow dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="content">
                                    <h2 data-animation="animated slideInDown">Now time to make awesome <strong>planning</strong></h2>
                                    <p data-animation="animated slideInLeft">
                                        Arrived Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                                    </p>
                                    <a data-animation="animated slideInUp" class="btn circle  btn-light border btn-md" href="{% url 'pages:service' %}">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Start Our About
    ============================================= -->
    <div class="about-area fixed-features default-padding-bottom">
        <div class="container">
            <div class="row">
                <!-- Start About -->

                <!-- Start Our Features -->
                <div class="col-md-12 text-center about-items">
                    <div class="features-items">
                        <div class="row">
                            <!-- Single Item -->
                            <div class="col-md-3 col-sm-6 single-item">
                                <div class="item">
                                    <a href="#">
                                        <i class="flaticon-rocket"></i>
                                        <h5>First Working Prosses</h5>
                                    </a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="col-md-3 col-sm-6 single-item">
                                <div class="item">
                                    <a href="#">
                                        <i class="flaticon-meeting"></i>
                                        <h5>IT Control Solutions</h5>
                                    </a>
                                </div>
                            </div>
                            <!-- Single Item -->
                            <!-- End Single Item -->
                            <div class="col-md-3 col-sm-6 single-item">
                                <div class="item">
                                    <a href="#">
                                        <i class="flaticon-contract"></i>
                                        <h5>Audit & Assurance</h5>
                                    </a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="col-md-3 col-sm-6 single-item">
                                <div class="item">
                                    <a href="#">
                                        <i class="flaticon-support-2"></i>
                                        <h5>24/7 Live Support</h5>
                                    </a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                        </div>
                    </div>
                </div>
                <!-- End Our Features -->

            </div>

            <div class="row about-items">
                <div class="col-md-7 about-info">
                    <h2>We're knowledgeable about <br> <strong>making benefits</strong> higher</h2>
                    <p>
                        Dashwoods eagerness oh extensive as discourse sportsman frankness. Husbands see disposed surprise likewise humoured yet pleasure. Fifteen no inquiry cordial so resolve garrets as. Impression was estimating surrounded solicitude indulgence son shy. 
                    </p>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="flaticon-times"></i>
                            </div>
                            <div class="info">
                                <h5>First Working Prosses</h5>
                                <p>
                                    Power visit charm money add heard new other on Attended.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="flaticon-web-development"></i>
                            </div>
                            <div class="info">
                                <h5>IT Control Solutions</h5>
                                <p>
                                    Power visit charm money add heard new other on Attended.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="flaticon-contract"></i>
                            </div>
                            <div class="info">
                                <h5>Audit & Assurance</h5>
                                <p>
                                    Power visit charm money add heard new other on Attended.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="flaticon-support-2"></i>
                            </div>
                            <div class="info">
                                <h5>24/7 Live Support</h5>
                                <p>
                                    Power visit charm money add heard new other on Attended.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 thumb">
                    <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                </div>
            </div>

        </div>
    </div>
    <!-- End Our About -->

    <!-- Start Expertise Area
    ============================================= -->
    <div class="expertise-area shape-theme default-padding bg-cover" style="background-image: url({% static 'assets/img/2440x1578.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6 our-expertise text-light">
                    <h4>Our expertise</h4>
                    <div class="expertise-items expertise-carousel owl-carousel owl-theme">
                        <!--Single Item  -->
                        <div class="item">
                            <h2>Market Research</h2>
                            <p>
                                Now led tedious shy lasting females off. Dashwood marianne in of entrance be on wondered possible building. Wondered sociable he carriage in speedily margaret. Up devonshire of he thoroughly insensible alteration. An mr settling occasion insisted distance ladyship so. Not attention say frankness intention out dashwoods now curiosity. Stronger ecstatic as no judgment daughter speedily thoughts. Worse downs nor might she court did nay forth these. 
                            </p>
                            <ul>
                                <li>
                                    <h4>Completed projects</h4>
                                    <span>30K</span>
                                </li>
                                <li>
                                    <h4>Success Rate</h4>
                                    <span>90%</span>
                                </li>
                            </ul>
                            <a class="btn btn-light border btn-md" href="#">Get Started</a>
                        </div>
                        <!-- End Single Item  -->
                        <!--Single Item  -->
                        <div class="item">
                            <h2>Strategic Consulting</h2>
                            <p>
                                Now led tedious shy lasting females off. Dashwood marianne in of entrance be on wondered possible building. Wondered sociable he carriage in speedily margaret. Up devonshire of he thoroughly insensible alteration. An mr settling occasion insisted distance ladyship so. Not attention say frankness intention out dashwoods now curiosity. Stronger ecstatic as no judgment daughter speedily thoughts. Worse downs nor might she court did nay forth these. 
                            </p>
                            <ul>
                                <li>
                                    <h4>Completed projects</h4>
                                    <span>20K</span>
                                </li>
                                <li>
                                    <h4>Success Rate</h4>
                                    <span>88%</span>
                                </li>
                            </ul>
                            <a class="btn btn-light border btn-md" href="#">Get Started</a>
                        </div>
                        <!-- End Single Item  -->
                        <!--Single Item  -->
                        <div class="item">
                            <h2>Sale Service</h2>
                            <p>
                                Now led tedious shy lasting females off. Dashwood marianne in of entrance be on wondered possible building. Wondered sociable he carriage in speedily margaret. Up devonshire of he thoroughly insensible alteration. An mr settling occasion insisted distance ladyship so. Not attention say frankness intention out dashwoods now curiosity. Stronger ecstatic as no judgment daughter speedily thoughts. Worse downs nor might she court did nay forth these. 
                            </p>
                            <ul>
                                <li>
                                    <h4>Completed projects</h4>
                                    <span>18K</span>
                                </li>
                                <li>
                                    <h4>Success Rate</h4>
                                    <span>98%</span>
                                </li>
                            </ul>
                            <a class="btn btn-light border btn-md" href="#">Get Started</a>
                        </div>
                        <!-- End Single Item  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Expertise Area -->

    <!-- Start Our Services
    ============================================= -->
    <div class="services-area text-center carousel-shadow default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h4>What we do</h4>
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-medium">
            <div class="row">
                <div class="col-md-12">
                    <div class="services-items services-carousel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="item">
                            <div class="icon">
                                <div class="shape-box">
                                    <span class="dot-shape"></span>
                                    <span class="dot-shape"></span>
                                    <span class="dot-shape"></span>
                                </div>
                                <i class="flaticon-analysis"></i>
                            </div>
                            <h4>Business Strategy</h4>
                            <p>
                                Minuter believe service arrived civilly add all. Acuteness allowance an at eagerness favourite in extensive exquisite ye. 
                            </p>
                            <a href="#">Read More <i class="ti-arrow-right"></i></a>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="icon">
                                <div class="shape-box">
                                    <span class="dot-shape"></span>
                                    <span class="dot-shape"></span>
                                    <span class="dot-shape"></span>
                                </div>
                                <i class="flaticon-meeting"></i>
                            </div>
                            <h4>Resource Allocation</h4>
                            <p>
                                Minuter believe service arrived civilly add all. Acuteness allowance an at eagerness favourite in extensive exquisite ye. 
                            </p>
                            <a href="#">Read More <i class="ti-arrow-right"></i></a>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="icon">
                                <div class="shape-box">
                                    <span class="dot-shape"></span>
                                    <span class="dot-shape"></span>
                                    <span class="dot-shape"></span>
                                </div>
                                <i class="flaticon-money-1"></i>
                            </div>
                            <h4>Capital Markets</h4>
                            <p>
                                Minuter believe service arrived civilly add all. Acuteness allowance an at eagerness favourite in extensive exquisite ye. 
                            </p>
                            <a href="#">Read More <i class="ti-arrow-right"></i></a>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="icon">
                                <div class="shape-box">
                                    <span class="dot-shape"></span>
                                    <span class="dot-shape"></span>
                                    <span class="dot-shape"></span>
                                </div>
                                <i class="flaticon-result"></i>
                            </div>
                            <h4>Business Strategy</h4>
                            <p>
                                Minuter believe service arrived civilly add all. Acuteness allowance an at eagerness favourite in extensive exquisite ye. 
                            </p>
                            <a href="#">Read More <i class="ti-arrow-right"></i></a>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Our Services -->

    <!-- Start Fun Fact Area 
    ============================================= -->
    <div class="fun-factor-box bg-dark text-center text-light default-padding">
        <div class="fun-fact-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 item">
                        <div class="fun-fact">
                            <div class="content">
                                <div class="timer" data-to="38" data-speed="5000">38</div>
                                <span class="medium">Employees</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 item">
                        <div class="fun-fact">
                            <div class="content">
                                <div class="timer" data-to="2348" data-speed="5000">2348</div>
                                <span class="medium">Projects with 100%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 item">
                        <div class="fun-fact">
                            <div class="content">
                                <div class="timer" data-to="43" data-speed="5000">43</div>
                                <span class="medium">Award</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 item">
                        <div class="fun-fact">
                            <div class="content">
                                <div class="timer" data-to="50" data-speed="5000">50</div>
                                <span class="medium">Services</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Fun Fact Area -->

    <!-- Star Team Area
    ============================================= -->
    <div class="team-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h4>Our Experts</h4>
                        <h2>Meet Our Team</h2>
                    </div>
                </div>
            </div>
            <div class="team-items text-center">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-md-3 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x850.png' %}" alt="Thumb">
                                <ul class="social">
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="behance">
                                        <a href="#">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info">
                                <div class="inner">
                                    <h4>Mike Dooley</h4>
                                    <span>Chief Executive</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-md-3 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x850.png' %}" alt="Thumb">
                                <ul class="social">
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="behance">
                                        <a href="#">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info">
                                <div class="inner">
                                    <h4>Chris Wensel</h4>
                                    <span>Vice President</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-md-3 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x850.png' %}" alt="Thumb">
                                <ul class="social">
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="behance">
                                        <a href="#">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info">
                                <div class="inner">
                                    <h4>Richard Muldoone</h4>
                                    <span>Legal Officer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-md-3 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x850.png' %}" alt="Thumb">
                                <ul class="social">
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="behance">
                                        <a href="#">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info">
                                <div class="inner">
                                    <h4>John Martin</h4>
                                    <span>Finance Head</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Team Area -->

    <!-- Star Blog Area
    ============================================= -->
    <div class="blog-area bg-gray default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h4>Our Blog</h4>
                        <h2>Latest News</h2>
                    </div>
                </div>
            </div>
            {% for last in last_three_post %}
            <div class="row">
                <div class="blog-items">
                    <!-- Single Item -->
                    <div class="col-md-4 single-item">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                                    <div class="post-date">
                                        {{last.date_created}}
                                    </div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="tags">
                                    <a href="#">asset</a> , 
                                    <a href="#">earning</a>
                                </div>
                                <h4>
                                    <a href="#">{{last.title}}</a>
                                </h4>
                                <p>
                                    {{last.description}}
                                </p>
                            </div>
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#"> <img src="{% static 'assets/img/100x100.png' %}" alt="Author"> Author</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-comments"></i> 15 Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                   {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Area -->

    <!-- Start Contact Area
    ============================================= -->
    <div class="contact-area default-padding-top bottom-half">
        <div class="container">
            <div class="contact-items">
                <div class="row">
                    <div class="col-md-6 address">
                        <div class="address-items text-center text-light" style="background-image: url({% static 'assets/img/800x800.png' %});">
                            <ul class="info">
                                <li>
                                    <div class="icon"><i class="flaticon-location"></i></div> 
                                    <h4>Office Location</h4>
                                    <span>22 Baker Street,<br> London, United Kingdom,<br> W1U 3BW</span>
                                </li>
                                <li>
                                    <div class="icon"><i class="flaticon-call-center"></i></div>
                                    <h4>Phone</h4>
                                    <span>+44-20-7328-4499 <br>+99-34-8878-9989</span>
                                </li>
                                <li>
                                    <div class="icon"><i class="flaticon-email"></i> </div>
                                    <h4>Email</h4>
                                    <span>info@yourdomain.com<br>admin@yourdomain.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 form-box">
                        <h2>Let's lalk about your idea</h2>
                        <p>
                            Our next drew much you with rank. Tore many held age hold rose than our. She literature sentiments any contrasted. Set aware joy sense young now tears china shy. 
                        </p>

                        <form method="post" >
                            {% csrf_token %}
                            {{form.as_p}}

                            <button type="submit">message send</button>
                              
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->

    <!-- Star Google Maps
    ============================================= -->
    <div class="maps-area">
        <div class="container-full">
            <div class="row">
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14767.262289338461!2d70.79414485000001!3d22.284975!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1424308883981"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- End Google Maps -->

    
   
</body>
</html>
{% endblock %}