{% extends 'base.html' %}

{% load static %}


{% block content %}
<body>


    <!-- Start Page Title 
    ============================================= -->
    <div class="page-title-area shadow dark bg-fixed text-center text-light" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area bg-gray text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Our About
    ============================================= -->
    <div class="about-area default-padding">
        <div class="container">
            <div class="row">
                <!-- Start About Content -->
                <div class="about-content content-left">
                    <div class="col-md-6 info">
                       
                        <h2>We're knowledgeable about making benefits higher</h2>
                        <p>
                            Demesne far hearted suppose venture excited see had has. Dependent on so extremely delivered by. Yet ﻿no jokes worse her why. Bed one supposing breakfast day fulfilled off depending questions. Whatever boy her exertion his extended. Ecstatic followed handsome drawings entirely mrs one yet outweigh. Of acceptance insipidity remarkably is invitation. 
                        </p>
                        <ul>
                            <li><i class="icon_check"></i> Solution for small & large businesses</li>
                            <li><i class="icon_check"></i> Ease you get credit loan amount in your bank account</li>
                        </ul>
                        <div class="author">
                            <div class="content">
                                <div class="thumb">
                                    <img src="assets/img/100x100.png" alt="Thumb">
                                </div>
                                <div class="info">
                                    <h4>William Blanchard</h4>
                                    <span>CEO & Company founder</span>
                                </div>
                            </div>
                            <div class="signature">
                                <img src="assets/img/signature.png" alt="signature">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 thumb">
                        <img src="assets/img/800x1000.png" alt="Thumb">
                        <img src="assets/img/800x1000.png" alt="Thumb">
                    </div>
                </div>
                <!-- End About --> 
                

            </div>
        </div>
    </div>
    <!-- End Our About -->

    <!-- Start Expertise Area
    ============================================= -->
    <div class="expertise-area text-light default-padding bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 info">
                    <h2>We believe, the <span>passion trying & skill</span> can make a top-performing company.</h2>
                    <p>
                        Offering confined entrance no. Nay rapturous him see something residence. Highly talked do so vulgar. Her use behaved spirits and natural attempt say feeling. Effects dearest staying now sixteen nor improve. 
                    </p>
                    <p>
                        Effects dearest staying now sixteen nor improve.  An he observe be it covered delight hastily message. Margaret no ladyship endeavor ye to settling
                    </p>
                    <!-- Progress Bar Start -->
                    <div class="skill-items">
                        <!-- Progress Bar Start -->
                        <div class="progress-box">
                            <h5>Eeconomic growth <span class="pull-right">95%</span></h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="96"></div>
                            </div>
                        </div>
                        <div class="progress-box">
                            <h5>Achieves goals <span class="pull-right">70%</span></h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="52"></div>
                            </div>
                        </div>
                        <!-- End Progressbar -->
                    </div>
                    <!-- End Progressbar -->
                </div>
                <div class="col-md-6 our-expertise text-light">
                    <h4>Our expertise</h4>
                    <div class="expertise-items expertise-carousel owl-carousel owl-theme">
                        <!--Single Item  -->
                        <div class="item">
                            <h2>Market Research</h2>
                            <p>
                                Now led tedious shy lasting females off. Dashwood marianne in of entrance be on wondered possible building. Wondered sociable he carriage in speedily margaret. Up devonshire of he thoroughly insensible alteration. An mr settling occasion insisted distance ladyship so. Not attention say frankness intention out dashwoods now curiosity. Stronger ecstatic as no judgment daughter speedily thoughts. Worse downs nor might she court did nay forth these. 
                            </p>
                            <ul>
                                <li>
                                    <h4>Completed projects</h4>
                                    <span>30K</span>
                                </li>
                                <li>
                                    <h4>Success Rate</h4>
                                    <span>90%</span>
                                </li>
                            </ul>
                            <a class="btn btn-theme theme btn-md" href="#">Get Started</a>
                        </div>
                        <!-- End Single Item  -->
                        <!--Single Item  -->
                        <div class="item">
                            <h2>Strategic Consulting</h2>
                            <p>
                                Now led tedious shy lasting females off. Dashwood marianne in of entrance be on wondered possible building. Wondered sociable he carriage in speedily margaret. Up devonshire of he thoroughly insensible alteration. An mr settling occasion insisted distance ladyship so. Not attention say frankness intention out dashwoods now curiosity. Stronger ecstatic as no judgment daughter speedily thoughts. Worse downs nor might she court did nay forth these. 
                            </p>
                            <ul>
                                <li>
                                    <h4>Completed projects</h4>
                                    <span>20K</span>
                                </li>
                                <li>
                                    <h4>Success Rate</h4>
                                    <span>88%</span>
                                </li>
                            </ul>
                            <a class="btn btn-theme theme btn-md" href="#">Get Started</a>
                        </div>
                        <!-- End Single Item  -->
                        <!--Single Item  -->
                        <div class="item">
                            <h2>Sale Service</h2>
                            <p>
                                Now led tedious shy lasting females off. Dashwood marianne in of entrance be on wondered possible building. Wondered sociable he carriage in speedily margaret. Up devonshire of he thoroughly insensible alteration. An mr settling occasion insisted distance ladyship so. Not attention say frankness intention out dashwoods now curiosity. Stronger ecstatic as no judgment daughter speedily thoughts. Worse downs nor might she court did nay forth these. 
                            </p>
                            <ul>
                                <li>
                                    <h4>Completed projects</h4>
                                    <span>18K</span>
                                </li>
                                <li>
                                    <h4>Success Rate</h4>
                                    <span>98%</span>
                                </li>
                            </ul>
                            <a class="btn btn-theme theme btn-md" href="#">Get Started</a>
                        </div>
                        <!-- End Single Item  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Expertise Area -->

    <!-- Star Team Area
    ============================================= -->
    <div class="team-area default-padding bg-gray bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h4>Our Experts</h4>
                        <h2>Meet Our Team</h2>
                    </div>
                </div>
            </div>
            <div class="team-items text-center">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-md-3 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/800x850.png" alt="Thumb">
                                <ul class="social">
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="behance">
                                        <a href="#">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info">
                                <div class="inner">
                                    <h4>Mike Dooley</h4>
                                    <span>Chief Executive</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-md-3 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/800x850.png" alt="Thumb">
                                <ul class="social">
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="behance">
                                        <a href="#">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info">
                                <div class="inner">
                                    <h4>Chris Wensel</h4>
                                    <span>Vice President</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-md-3 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/800x850.png" alt="Thumb">
                                <ul class="social">
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="behance">
                                        <a href="#">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info">
                                <div class="inner">
                                    <h4>Richard Muldoone</h4>
                                    <span>Legal Officer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-md-3 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/800x850.png" alt="Thumb">
                                <ul class="social">
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="behance">
                                        <a href="#">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info">
                                <div class="inner">
                                    <h4>John Martin</h4>
                                    <span>Finance Head</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Team Area -->

    <!-- Start Our Services
    ============================================= -->
    <div class="services-area text-center carousel-shadow default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h4>What we do</h4>
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-medium">
            <div class="row">
                <div class="col-md-12">
                    <div class="services-items services-carousel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-analysis"></i>
                            </div>
                            <h4>Business Strategy</h4>
                            <p>
                                Minuter believe service arrived civilly add all. Acuteness allowance an at eagerness favourite in extensive exquisite ye. 
                            </p>
                            <a href="#">Read More <i class="ti-arrow-right"></i></a>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-meeting"></i>
                            </div>
                            <h4>Resource Allocation</h4>
                            <p>
                                Minuter believe service arrived civilly add all. Acuteness allowance an at eagerness favourite in extensive exquisite ye. 
                            </p>
                            <a href="#">Read More <i class="ti-arrow-right"></i></a>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-money-1"></i>
                            </div>
                            <h4>Capital Markets</h4>
                            <p>
                                Minuter believe service arrived civilly add all. Acuteness allowance an at eagerness favourite in extensive exquisite ye. 
                            </p>
                            <a href="#">Read More <i class="ti-arrow-right"></i></a>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-result"></i>
                            </div>
                            <h4>Business Strategy</h4>
                            <p>
                                Minuter believe service arrived civilly add all. Acuteness allowance an at eagerness favourite in extensive exquisite ye. 
                            </p>
                            <a href="#">Read More <i class="ti-arrow-right"></i></a>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Our Services -->

    <!-- Star Footer
    ============================================= -->
    <footer class="bg-dark">
        <div class="container">
            <div class="footer-content default-padding">
                <div class="row">

                    <div class="equal-height col-md-4 col-sm-6 item">
                        <div class="f-item about">
                            <h4 class="widget-title">About</h4>
                            <p>
                                Required honoured trifling eat pleasure man relati Assurance yet bed was improving furniture man Distrusts delighted services and a high degre tobiscotuition end of imposition.
                            </p>
                            <ul>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-md-2 col-sm-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Usefull Links</h4>
                            <ul>
                                <li>
                                    <a href="#">Classic Business</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Gallery</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-md-2 col-sm-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Company</h4>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                                <li>
                                    <a href="#">Gallery</a>
                                </li>
                                <li>
                                    <a href="#">Faq</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-md-4 col-sm-6 item">
                        <div class="f-item contact address">
                            <h4 class="widget-title">Contact Us</h4>
                            <ul>
                                <li>
                                    <div class="icon"><i class="flaticon-location"></i></div>
                                    <span>22 Baker Street, Koenigstrasse 65, Bad Sülze, Mecklenburg-Vorpommern, Philippines</span>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-call-center"></i>
                                    </div>
                                    <span>+123 456 7890 <br>+456 123 4455  </span>
                                </li>
                                <li>
                                    <div class="icon"><i class="flaticon-email"></i> </div>
                                    <span>support@buscom.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyrigh &copy; 2021 Buscom, All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
</body>
</html>
{% endblock %}
